.element__container{
    display: flex;
    justify-content: space-between;
    padding:  0 20px;
    background-color: #fff;
    align-items: center;
    border-radius: 0 0 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}