.element__like{
    border: none;
    outline: none;
    background: url(../../../image/like.svg) center no-repeat;
    background-size: 100%;
    width: 22px;
    height: 19px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s linear;
}
.element__like:hover{
    opacity: 0.5;
}