.header{
    max-width: 880px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(84,84,84, 0.6);
}

@media screen and (min-width:320px) and (max-width: 425px){
    .header{
        padding: 28px 27px 31px;
    }
}
@media screen and (min-width:425px) and (max-width: 900px){
    .header{
        max-width: 90%;
    }
}